@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Andada');
body{
	margin:0px;
}

  

.header{
	background-color: black;
	position: relative;
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #333333;
	position: relative;
	
}
.header_date{
	display: none;
}

.header__logo{
	width: 70%;
   float:left;
   
}
.header__login-logo{
	float: right;
    width: 30%;
    height:44px;
    
   
   
}
.hi{
	float:right;
	padding: 10px;
    margin-top: 5px
}
.verge{
	padding:8px;

}
.header__links{
	height: 35px;
	width:100%;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	position: relative;

}
nav ul{display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100%;

}
nav ul li{
		position: relative;
	float:left;
	height: 35px;
border-right:1px solid #333333 ;
    box-sizing: border-box;


}
li {
	display: block;
	color:white;
	width: 25%;
	text-align: center;
	line-height: 35px;
	


}
li a{

	text-transform: uppercase;
	font-size: 10.4px;
}
li:nth-child(4){
	border-right: none;
}


.footer-wrapper{
	text-align: center;
	background-color: black;
}

.footer-logo{
	padding: 16px 16px;
}
.footer-wrapper__items {
	padding: 8px 16px;
	font-size: .75em;
	float :left;
	display: inline-block;
}
.footer-wrapper__items_list1 .footer-wrapper__items_list{
	line-height: 0px;
}
.footer-wrapper__items .footer-wrapper__items_list1 .footer-wrapper__items_list{
	list-style-type: none;
	width:auto;
	display: inline-block;
	text-decoration: none;
}
.footer-wrapper__items .footer-wrapper__items_list1 .footer-wrapper__items_list a{
	color: #e5127d;
	text-decoration: none;
}


 .footer-wrapper__items .footer-wrapper__items_list1 .footer-wrapper__items_list:after{
    	content: "\2022";
    display: inline-block;
    margin: 0px 8px;
    color: #ffffff;
    }
.footer-wrapper__items .footer-wrapper__items_list1 .footer-wrapper__items_list:last-child:after
{
  content: '';
}
.footer-wrapper__items .footer-wrapper__items_list1{
	margin: 0px 0px 8px 0px;
    display: inline-block;
    padding: 0px;
}
.footer-wrapper__items__content3{
	font-size: 12px;
	color:white;
	
}
.articles_lwrapper{
	width: 100%;
}
.footer-wrapper__items__content3_1{

	display: block;
color: #e5127d;
font-size: 12px;
text-decoration: none;
}
.footer-wrapper__last-content{
	padding: 8px 16px;
font-size: 12px;
	color:#ffffff;
	text-decoration: none;
}

.seven-main-contents{
	background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);

box-sizing: border-box;
	
}
.seven-main-contents__type1{

	float:left;
	
	margin:1px 0px;
	background: black;
	box-sizing: border-box;
	padding: 6px;
	box-sizing: border-box;

	
}
.seven-main-contents__type1__body{
	
	color:white;
	font-size: 19px;
	display:inline-block;
	width:45%;
	padding-left: 3px;
	font-family: adelle-sans, Helvetica, sans-serif;
	vertical-align: top;

}
.seven-main-contents-type2{
	
	
	display: inline-block;
	
	float:left;
	background: black;
	margin-bottom: 1px;
	padding: 6px;
	width: 100%;
	box-sizing: border-box;
    
}
.seven-main-contents__type2__body{
	font-size: 14.4px;
	color:white;
	display: inline-block;
	width:65%;
	vertical-align: top;
	font-family: adelle-sans, Helvetica, sans-serif;

}
.articles{
	
	padding: 16px 0px;
	border-top: 0px;
}
.articles__content{
padding: 8px 0px;
	
	display: inline-block;
	
width: 100%;
	background: white;
    margin-bottom: 1px;
}
.articles__contents_type1{
	font-size: 14.4px;
	color:#0A0909;
	display: inline-block;
	width:60%;
	font-family:  Helvetica, sans-serif;
	vertical-align: top;
	padding:0px 8px;
}
.articles__contents_type1_body{
	display: block;
	color: #e5127d;
	font-size: 12px;
	text-decoration: none;
	float: left;
}
.articles__contents_type1_body_bottom{
	float:left;
	color:#6a6a6a;
	font-size: 12px;
}
.articles__after:after{
	border-right: 1px solid currentColor;
    content: "";
    display: inline-block;
    height: 1.1em;
    margin: 0 .4em;
    vertical-align: middle;
	width: 2px;
	color:black;
}
articles__contents_type2{
	color:#6a6a6a;

}
.articles__ad-box__left_title{
	color:#6a6a6a;
	text-decoration: none;
	font-size: 14.4px;
}
.articles__ad-box__left{
	width:137px;
	padding:0px 8px;
	text-align: right;
	float:left;
}
.articles__ad-box__right{
	color:#e5127d;
	font-size: 27px;
	font-style: italic;
	text-align: left;
	padding: 8px;
	margin-top: 1px;
	width: 47%;
	float: left;
}
.articles__ad-box{
	overflow: auto;
	padding: 16px 0px;
	border-bottom: 1px solid #6a6a6a;
}
.guide{   
	overflow: auto;
	position:relative;
background-color: black;	
}
.guide__logo{
	position: relative;
	overflow: auto;
	padding: 1.2rem 16px 2rem;
	
}
.guide__logo_view{
	text-decoration: none;
	color:#e5127d;
	font-size: 16px;
}
.guide__logo_left{
	width:50%;
	float:left;
}
.guide__logo_right{
	width: 50%;
	display: inline-block;
	text-align: end;
	margin-top:17px;
}
.guide__logo:after {
    background: #e5127d;
    content: "";
    height: 2px;
    position: absolute;
    right: 39px;
    top: 71px;
    left: 16px;
    z-index: 1;
}
.guide__blocks{
	padding-left: 0px;
	padding: 0px 16px;
	margin: 0px;
	margin-bottom: 25px;
	margin-top: -22px;
	   
}
.guide__blocks .guide__blocks_elements{
	width:100%;
	background-color: white;
	text-align: start;
	display:inline-block;
	line-height: 0px;

}
.guide__blocks_content{
	width: 65%;
	position: absolute;
	top:33%;
	font-size: 14.4px;
	display: inline-block;
	color:black;
	text-align: center;
	font-family: adelle-sans, Helvetica, sans-serif;
}
.guide__blocks_elements{
	position: relative;
}
.guide__logo:before {
    background-color: #e5127d;
    content: "";
    height: 2px;
    position: absolute;
	right: 40px;
    bottom: 31px;
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    width: 35px;
    z-index: 1;
}
.more-stories{
	font-size: 16px;
	text-transform: uppercase;
	background-color: #e5127d;
	color:white;
	text-align: center;
	height: 51px;
}
.more-stories__content{
	height: 100%;
	line-height: 51px;
	font-family: Helvetica, sans-serif;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width:100%;
	background-color: #1a1a1a;
	border-bottom: 1px solid #6a6a6a;

	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	padding: 16px;
	text-decoration: none;
	display: block;
	color: white;
	border-bottom: 1px solid;
	border-bottom-color: #6a6a6a;
	font-size: 9.6px;
}

.show {display:block;}
li a{
	width:100%;
}
.header__links__list_item {
	width: 100%;
	/* color: black; */
	display: block;
}
.invisible{
	display: none;
}
 
.seven-main-contents__type3{
	display: none;
	height: 100px;
	width: 100%;
	background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
}
.circuit-breaker{
	display: none;
}
.saerch{
	display: none;
}
@media(min-width:600px){
	.saerch{
		display: block;
		float: right;
    width: 16px;
    margin-top: 15px;
    /* padding: 4px; */
    /* margin: auto; */
    margin-right: 6px;
    /* box-sizing: border-box; */
	}
	li:nth-child(6){
		border-right: none;
	}
	li:nth-child(4){
		border-right:1px solid #333333 ;
	}

	.header__logo {
    width: 100%;
    background-image: url(https://cdn.vox-cdn.com/uploads/chorus_asset/file/7383215/Masthead_DB_1.0.png);
    /* padding: 64px 16px; */
    padding: 64px 16px;
    box-sizing: border-box;
}
.header{
	height: 100%;
}
.header__links{
	width: 80%;
}
.header__login-logo{
	width:20%;
	height: 100%;
}
.verge{
	width: 100%;
}
.seven-main-contents{
	width: 100%;
}
.seven-main-contents__type1{
	padding: 0px;
}
.seven-main-contents__type1__body{
	font-size: 50px;
	font-weight: bold;

}
.seven-main-contents-type2{
	width: 49.65%;
	float: right;
	margin: 1px;
	padding: 0px;
}
.articles__contents_type1{
	font-size: 17px;
	font-weight: 600;
}
.articles__contents_type1_body_bottom{
	font-size: 14.4px;
}
.articles__ad-box__left{
	width: 50%;
	padding: 0px;
}
img{
	width:30%;
}
.seven-main-contents img{
	width: 100%;
}
.seven-main-contents__type2__body{
	width: 100%;
	height: 80px;
	font-size: 20px;
	font-weight: 600;

}
.seven-main-contents__type1__body{
	width: 48%;
}
.guide__blocks_elements img{
	width: 100%;
}
.guide__blocks .guide__blocks_elements{
	width: 48.8%;
	padding: 3px;
}
.seven-main-contents__type1 img{
	width: 50%;
}
.guide__blocks li:nth-child(2){
float: right;
}
.guide__blocks li:nth-child(4){
	float: right;
	}
	li a{
		font-size: 13px;
	}
	li{
		width: 16%;
	}
	.footer-wrapper__items .footer-wrapper__items_list1 .footer-wrapper__items_list a {
		font-size: 10px;
	}
	.footer-wrapper{
		display: inline-block;
		padding: 16px 0px;
		width: 100%;
	}
	.footer-logo{
		width:30%;
		float:left;
	}
	.footer-wrapper__items{
		width: 30%;
		float: left;
		padding: 0px;
		text-align: left;
	}
	.footer-wrapper__last-content{
		width: 30%;
    float: left;
	 padding: 0px;
		text-align: right;
		padding: 16px;
	}
	.footer-logo svg{
		width: 168px;
	}
	.header__logo svg{
		height: 115px;
	}
	.verge{
		padding: 0px;
	}
	.seven-main-contents  div:nth-child(n + 6){
		width:33%;
	}
	/* .seven-main-contents  div:nth-child(7){
		width:30%;
	}
	.seven-main-contents  div:nth-child(8){
		width:30%;
	} */
	.seven-main-contents__type1 img{
		height: 377px;
	}
	.seven-main-contents__type1{
    overflow: hidden;
    position: relative;
}
.seven-main-contents__type1::before{
	background-color: #f7c626;
	bottom: 30px;
	content: "";
	height: 3px;
	left: 122px;
	position: absolute;
	width: 40%;
	z-index: 4;
}
.seven-main-contents__type1::after{
	background-color: #f7c626;
	bottom: 0;
	content: "";
	height: 3px;
	left: 65px;
	position: absolute;
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
	-webkit-transform-origin: bottom right;
	transform-origin: bottom right;
	width: 38px;
	z-index: 4;
}
.seven-main-contents__type3{
	display: inline-block;
	height: 100%;
	position: relative;

}
.seven-main-contents  div:nth-child(9){
	width:100%;
}
.articles{
	border-top:15px solid black;
}
.articles__ad-box__left_title-1{
	color: #000000;
	text-decoration: none;
	font-size: 24.4px;
	font-family:  Helvetica, sans-serif;
	font-weight: 600;

}
.articles__ad-box__right-1{
	font-size: 51px;
	font-style: italic;
	text-align: left;
	padding: 8px;
	margin-top: 1px;
	width: 47%;
	float: right;
	margin-bottom: 6px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Heroic, "Arial Narrow", Helvetica, sans-serif;
}
.articles__ad-box__left-1{
	width:45%;
	padding:0px 8px;
	text-align: right;
	float:left;
	position: absolute;
	top:30px;
}
.header_date{
	color: white;
	overflow: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 66%;
	display: inline-block;
}
.seven-main-contents__type1__body{
	width: 48%;
	font-family: Heroic, "Arial Narrow", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .008em;
	letter-spacing: .04px;
	font-size: 2.5em;
	box-sizing: border-box;
	padding: 17px;
}
.seven-main-contents__type2__body{
	box-sizing: border-box;
	padding: 6px;
}
.invisible{
	display: block;
}

}
@media(min-width:1024px){
	.articles{
		width: 663px;
		border-top: none;
	}
	.guide{
		width: 663px;
	}
.invisible{
	display: block;
}
.circuit-breaker{
	float: right;
	display: inline-block;

	width: 300px;
	position: relative;
	padding: 65px;

}
.articles_lwrapper{
	width:664px;
	display:inline-block;
	padding-left: 64px;
}
.circuit-breaker_body{
	border-right: 2px solid blue;
	border-top: 2px solid blue;
}.circuit-breaker_body img{
	width: 100%;
	padding-bottom: 15px;
}
.footer-wrapper{
	padding: 64px;
	box-sizing: border-box;
}
.header__links{
	padding-left: 45px;
	box-sizing: border-box;
}
.header__login-logo{
	padding-right: 30px;
	width: 10%;
}
.seven-main-contents-type2{
	width: 49.65%;
	float: right;
	margin: 2px;
	padding: 0px;
}

}
@media(min-width:1000px) and (max-width:1240px){

	.seven-main-contents-type2{
		width: 49.65%;
		float: right;
		margin: 1px;
		padding: 0px;
	}}
	@media(min-width:1000px) and (max-width:1140px)
{
	.circuit-breaker{
		float: right;
		display: inline-block;
	
		width: 300px;
		position: relative;
		padding: 0px;
	
	}

}


